@model TV_Track.Models.Movie

@{ 
    ViewBag.homeClass = false;
    bool notReleasedYet = false;

    if (DateTime.Now < Model.ReleaseYear)
    {
        notReleasedYet = true;
    }
}
<!-- details -->
<section class="section section--details">
    <!-- details content -->
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <div class="filter__content">
                    <!-- filter item -->
                    <div class="filter__item" id="filter__genre">
                        <div class="filter__items">
                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="List 1">
                                <span></span>
                            </div>

                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
                                <li>List 1</li>
                                <li>List 2</li>
                                <li>List 3</li>
                            </ul>
                        </div>

                    </div>
                    <form asp-controller="User" asp-action="AddToMyList" method="post">
                        <input type="hidden" asp-for="@Model.MovieId" />
                        <input type="hidden" asp-for="@Model.Title" />
                        <input type="hidden" asp-for="@Model.MoviePoster">
                        <input type="hidden" asp-for="@Model.VoteAverage" />
                        <button class="filter__btn my-btn-space-around" type="submit">Add To MyList</button>
                    </form>
                    <form asp-controller="User" asp-action="WatchList" method="post">
                        <input type="hidden" asp-for="@Model.MovieId" />
                        <input type="hidden" asp-for="@Model.Title" />
                        <input type="hidden" asp-for="@Model.MoviePoster">
                        <input type="hidden" asp-for="@Model.VoteAverage" />
                        <button class="filter__btn my-btn-space-around" type="button">Add To WatchList</button>
                    </form>
                    <form asp-controller="User" asp-action="AddWatchedMovie" method="post">
                        <input type="hidden" asp-for="@Model.MovieId" />
                        <input type="hidden" asp-for="@Model.Title" />
                        <input type="hidden" asp-for="@Model.MoviePoster">
                        <input type="hidden" asp-for="@Model.VoteAverage" />
                        <button class="filter__btn my-btn-space-around" type="button">Watched</button>
                    </form>

                    <!-- filter btn -->

                    <!-- end filter btn -->
                    <!-- filter btn -->
                    <!-- end filter btn -->
                    <style>
                        .filter__content {
                            justify-content: flex-start !important;
                        }

                        .my-btn-space-around {
                            font-size: 12px;
                            margin: 12px;
                        }
                    </style>

                </div>
            </div>
            <!-- end title -->
            <!-- content -->
            <div class="col-12 col-xl-12">
              
                <div class="card card--details">
                    <div class="row">
                        <!-- card cover -->
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3 ">
                            <div class="card__cover">
                                <img src="@Model.MoviePoster" alt="">
                                <span class="card__rate card__rate--green">@Model.VoteAverage</span>
                            </div>
                            @*<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="card__trailer"><i class="icon ion-ios-play-circle"></i> Watch trailer</a>*@
                        </div>
                        <!-- end card cover -->
                        <!-- card content -->
                        <div class="col-12 col-md-8 col-lg-9 col-xl-7">
                            <div class="card__content">
                                <h1 class="section__title section__title--mb">@Model.Title</h1>
                                <ul class="card__meta">
                                    <li><span>Director:</span>@(Model.Director.FirstName + " " + Model.Director.LastName)</li>
                                    <li>
                                        <span>Cast:</span>
                                        @foreach (var cast in Model.Casts)
                                        {
                                            <a href="#">@(cast.Actor.FirstName + " " + cast.Actor.LastName)</a>
                                        }

                                    </li>
                                    <li>
                                        <span>Genre:</span>

                                        @foreach (var genre in Model.TvGenres)
                                        {
                                            <a href="#">@genre.Genre.GenreName</a>
                                        }


                                    </li>
                                    <li><span>Release year:</span> @Model.ReleaseYear.Value.Year</li>
                                    <li><span>Running time:</span> @Model.RunningTime</li>
           
                                </ul>
                                <div class="card__description">
                                    @Model.MovieDescription
                                </div>
                            </div>
                        </div>
                        <!-- end card content -->
                    </div>
                </div>
            </div>
            <!-- end content -->

        </div>
        <!-- end details content -->
</section>
<!-- end details -->
